{% extends 'anthrocalc/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load i18n %}
<h1>{% translate "Estado del Hogar para la Familia:" %} {% firstof form.instance.family family %}</h1>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="{% translate "Guardar" %}" />
</form>

<hr/>
{% url 'patients:list' as patients_list_url %}
<p><a href="{{ request.GET.next|default:patients_list_url }}">{% translate "Cancelar" %}</a></p>
{% endblock %}