{% extends 'anthrocalc/base.html' %}
{% load i18n %}

{% block content %}

<h1>{% translate "Medición del niño:" %} {{ metric.visit.patient.name }}</h1>
<p>{% translate "Fecha de visita:" %} <i>{{ metric.visit.date }}</i></p>

<strong>{% translate "Peso:" %} {{metric.weight}} kg.<br />
<strong>{% translate "Altura:" %} {{metric.height}} cm.<br />
<strong>{% translate "MUAC:" %} {{metric.muac|default:"n/a"}} cm.<br />

{% if metric.edema or metric.diarrhea or metric.intractable_vomiting or metric.convulsions or metric.lethargy_not_alert or metric.unconsciousness or metric.hypoglycemia or metric.high_fever or metric.hypothermia or metric.severe_dehydration or metric.lower_respiratory_tract_infection or metric.severe_anemia or metric.eye_signs_vit_a or metric.skin_lesions %}
  <div class="alert alert-danger mt-3">
      <strong>{% translate "Signos de peligro detectados:" %}</strong>
      <ul>
          {% if metric.edema %}<li>{% translate "Edema" %}</li>{% endif %}
          {% if metric.diarrhea %}<li>{% translate "Diarrea" %}</li>{% endif %}
          {% if metric.intractable_vomiting %}<li>{% translate "Vómitos incoercibles" %}</li>{% endif %}
          {% if metric.convulsions %}<li>{% translate "Convulsiones" %}</li>{% endif %}
          {% if metric.lethargy_not_alert %}<li>{% translate "Letargo / No alerta" %}</li>{% endif %}
          {% if metric.unconsciousness %}<li>{% translate "Inconsciencia" %}</li>{% endif %}
          {% if metric.hypoglycemia %}<li>{% translate "Hipoglucemia" %}</li>{% endif %}
          {% if metric.high_fever %}<li>{% translate "Fiebre alta" %}</li>{% endif %}
          {% if metric.hypothermia %}<li>{% translate "Hipotermia" %}</li>{% endif %}
          {% if metric.severe_dehydration %}<li>{% translate "Deshidratación severa" %}</li>{% endif %}
          {% if metric.lower_respiratory_tract_infection %}<li>{% translate "Infección de las vías respiratorias bajas" %}</li>{% endif %}
          {% if metric.severe_anemia %}<li>{% translate "Anemia severa" %}</li>{% endif %}
          {% if metric.eye_signs_vit_a %}<li>{% translate "Signos oculares de deficiencia de Vit A" %}</li>{% endif %}
          {% if metric.skin_lesions %}<li>{% translate "Lesiones cutáneas" %}</li>{% endif %}
      </ul>
  </div>
{% else %}
  <p>{% translate "No se detectaron signos de peligro." %}</p>
{% endif %}

<p>
  <a href='{% url "metrics:edit" metric.id %}'>{% translate "Editar esta medición." %}</a><br/>

  <a href='{% url "visits:detail" metric.visit.id %}'>{% translate "Volver a Visita." %}</a>
  <a href='{% url "patients:detail" metric.visit.patient.id %}'>{% translate "Información del Niño." %}</a>
  <br />
  <a href='{% url "visits:list" %}'>{% translate "Listado de Mediciones." %}</a>

</p>
{% endblock %}