{% extends 'anthrocalc/base.html' %}
{% block content %}
{% load i18n %}
<h1>{% translate "Listado de Metricas" %}</h1>
<p>
    <a class="btn btn-primary" role="button" href='{% url "metrics:new" %}'>{% translate "Crear nueva medición" %}</a>
</p>
<ul>
    {% for metrica in object_list %}
        <li>
            <p>{% translate "Medición de:" %} {{ metrica.visit.patient.name }} - {{ metrica.visit.date }}
            </p>
            <p>
                <a href='{% url "metrics:detail" metrica.id %}'>{% translate "Ver" %}</a> |
                <a href='{% url "metrics:edit" metrica.id %}'>{% translate "Editar" %}</a> |
                <a href='{% url "metrics:delete" metrica.id %}'>{% translate "Borrar" %}</a>
            </p>
        </li>
    {% endfor %}
</ul>
{% endblock %}