{% extends 'anthrocalc/base.html' %}

{% block content %}
<h1>Información de: {{ patient.name }}</h1>
<p>Fecha de nacimiento: <i>{{ patient.dob }}</i></p>
<!-- TODO: agregar info de madre -->


<ol>
{% for id, metrical in metrics_dict.items %}
  <li><a href={% url 'visits:detail' id %}>{{ metrical.date }}</a>
    {% if metrical.metrics %} <br/>
    Peso: {{metrical.metrics.weight}} - Talla: {{metrical.metrics.height}}
    {% endif %}
  </li>
  {{metric}}
{% endfor %}
</ol>

<p>
    <a href='{% url "visits:new" %}?patient={{ patient.id }}'>Agregar visita al paciente</a>
    <a href='{% url "patients:list" %}'>Regresar</a>
</p>
{% endblock %}
