{% extends 'anthrocalc/base.html' %}
{% block content %}
{% load i18n %}
<h1>{% translate "Niños registrados:" %}</h1>
<p>
    <a class="btn btn-primary" role="button" href='{% url "patients:new" %}'>{% translate "Agregar nuevo niño" %}</a>
</p>
<table>
    {% for patient in object_list %}
        <tr>
            <td><a href='{% url "patients:detail" patient.id %}'>{{ patient.name }}</a></td>
            <td>
                {% translate "Nacido el:" %} {{patient.dob}}</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}