{% extends 'anthrocalc/base.html' %}

{% block content %}
<h1>Listado de Visitas</h1>
<p>
    <a class="btn btn-primary" role="button" href='{% url "visits:new" %}'>Crear Visita</a>
</p>
<ul>
    {% for visit in object_list %}
        <li>
            <p>{{ visit.patient.name }} - {{ visit.date }} </p>
            <p>
                <a href='{% url "visits:detail" visit.id %}'>Ver</a> |
                <a href='{% url "visits:edit" visit.id %}'>Editar</a> |
                <a href='{% url "visits:delete" visit.id %}'>Borrar</a>
            </p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
